@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    var vaiTro = HttpContextAccessor.HttpContext?.Session.GetString("VaiTro");
    string hoTen = HttpContextAccessor.HttpContext?.Session.GetString("HoTen") ;
    string maSv = HttpContextAccessor.HttpContext?.Session.GetString("MaSv");
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QLDiem</title>
    <link rel="stylesheet" href="~/css/LayoutSV.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    @RenderSection("Styles", required: false)

</head>
<body>
    <header>
        <div class="title-sv">
            Két quả học tập sinh viên
        </div>

        <div class="dang-ky-lop">
            <a class="nav-link" asp-area="" asp-controller="PageSinhVien" asp-action="DangKyLHP">
                <i class="bi bi-journal-plus fs-5"></i>
                <span class="menu-text ms-2">Đăng ký lớp học phần</span>
            </a>
        </div>

        <div class="thong-tin-sv">
            <p>@maSv</p> - <p>@hoTen</p>
        </div>
        <a class="nav-link" asp-controller="PageSinhVien" asp-action="Profile">
            <i class="bi bi-person-circle fs-5"></i>
            <span class="menu-text ms-2">Tài khoản</span>
        </a>
        <a class="nav-link" asp-area="" asp-controller="AccCount" asp-action="Logout">
            <i class="bi bi-box-arrow-right fs-5"></i>
            <span class="menu-text ms-2">Logout</span>
        </a>
    </header>
        
            

            <main class="main-content">
                @RenderBody()
            </main>
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
