@model IEnumerable<QLDiem.Models.DangKyMonHoc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HocKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaHpNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaSvNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HocKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NamHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaHpNavigation.MaHp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaSvNavigation.MaSv)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDk">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDk">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDk">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
